.box{
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 20%;
    
    margin-top: 7%;
    margin-left: 35%;
    background-color: rgb(35, 155, 192);
    padding: 4%;
    border: 7px solid rgb(6, 112, 252);
}
body{
    background-color: black;
}
#btn{
    margin: 15%;
    background-color: #b5edf7;
    font-size: 23px;
    color: rgb(10, 10, 10);
    border: none;
    margin-left: 30%;
    
}
/* .content{
    padding: 10%;
    margin-bottom: 30%;
} */
.i{
    margin-bottom: 3%;
    width: 90%;
    height: 20%;
}
#l{
    font-size: 28px;
}